In [2]:
install.packages("lavaan", dependencies = TRUE)

Installing package into ‘/home/nbuser/R’
(as ‘lib’ is unspecified)

In [3]:
library(lavaan)

This is lavaan 0.6-1
lavaan is BETA software! Please report any bugs.

In [4]:

dat<-read.csv("https://github.com/thousandoaks/SEM/blob/master/SEM_02_1_Intro_to_Lavaan_data.csv?raw=true")

In [5]:
head(dat)

  x1       y1       y2        y3
1 53.40900 60.67103 1.0387974 51
2 37.03745 40.94291 0.4775924 31
3 53.69565 50.98805 0.9489357 71
4 53.69565 61.15633 1.1949002 64
5 51.95985 46.66807 1.2981890 68
6 51.95985 39.82357 1.1734866 34

In [15]:
# Step 1: Specify model
mod.1 <- 'y1 ~ x1
          y2 ~ x1
          y3 ~ y1 + y2'

In [16]:
# Step 2: Estimate model
mod.1.fit <- sem(mod.1, data=dat)

Warning message in lav_data_full(data = data, group = group, cluster = cluster, :
“lavaan WARNING: some observed variances are (at least) a factor 1000 times larger than others; use varTable(fit) to investigate”

In [8]:
# Step 3: Extract results
summary(mod.1.fit)

lavaan (0.6-1) converged normally after  33 iterations

  Number of observations                            90

  Estimator                                         ML
  Model Fit Test Statistic                      17.729
  Degrees of freedom                                 2
  P-value (Chi-square)                           0.000

Parameter Estimates:

  Information                                 Expected
  Information saturated (h1) model          Structured
  Standard Errors                             Standard

Regressions:
                   Estimate  Std.Err  z-value  P(>|z|)
  y1 ~
    x1                0.400    0.081    4.911    0.000
  y2 ~
    x1                0.009    0.004    2.381    0.017
  y3 ~
    y1                0.935    0.171    5.475    0.000
    y2               12.898    4.132    3.121    0.002

Variances:
                   Estimate  Std.Err  z-value  P(>|z|)
   .y1               45.989    6.856    6.708    0.000
   .y2                0.094    0.014    6.708    0.000
   .y3              151.029   22.514    6.708    0.000

In [17]:
varTable(mod.1.fit)

  name idx nobs type    exo user mean       var         nlev lnam
1 y1   2   90   numeric 0   0    49.2390250  58.9687166 0
2 y2   3   90   numeric 0   0     0.6912317   0.1006379 0
3 y3   4   90   numeric 0   0    49.2333333 228.1808989 0
4 x1   1   90   numeric 1   0    49.2345833  77.9597236 0

### Let's fix the problem (by scaling variables)

In [9]:
## Recode vars to roughly same scale
x1 <- dat$x1/100
y1 <- dat$y1/100
y2 <- dat$y2
y3 <- dat$y3/100

In [10]:
### Create Transformed Dataset
# overwrite file with recoded data
t.dat <- data.frame(x1, y1, y2, y3)
summary(t.dat)

       x1               y1               y2                y3
 Min.   :0.3704   Min.   :0.3259   Min.   :0.05558   Min.   :0.1500
 1st Qu.:0.3946   1st Qu.:0.4381   1st Qu.:0.48769   1st Qu.:0.3700
 Median :0.5177   Median :0.4804   Median :0.63712   Median :0.5000
 Mean   :0.4923   Mean   :0.4924   Mean   :0.69123   Mean   :0.4923
 3rd Qu.:0.5840   3rd Qu.:0.5490   3rd Qu.:0.91468   3rd Qu.:0.6200
 Max.   :0.6072   Max.   :0.7046   Max.   :1.53541   Max.   :0.8500

In [11]:
##### Repeat Lavaan modeling

# Step 1: Specify model
mod.1 <- 'y1 ~ x1
          y2 ~ x1
          y3 ~ y1 + y2'

In [12]:
# Step 2: Estimate model
mod.1.fit <- sem(mod.1, data=t.dat)

In [13]:
# Step 3: Extract results
summary(mod.1.fit)

lavaan (0.6-1) converged normally after  27 iterations

  Number of observations                            90

  Estimator                                         ML
  Model Fit Test Statistic                      17.729
  Degrees of freedom                                 2
  P-value (Chi-square)                           0.000

Parameter Estimates:

  Information                                 Expected
  Information saturated (h1) model          Structured
  Standard Errors                             Standard

Regressions:
                   Estimate  Std.Err  z-value  P(>|z|)
  y1 ~
    x1                0.400    0.081    4.911    0.000
  y2 ~
    x1                0.875    0.367    2.381    0.017
  y3 ~
    y1                0.935    0.171    5.475    0.000
    y2                0.129    0.041    3.121    0.002

Variances:
                   Estimate  Std.Err  z-value  P(>|z|)
   .y1                0.005    0.001    6.708    0.000
   .y2                0.094    0.014    6.708    0.000
   .y3                0.015    0.002    6.708    0.000

### The model so far is incorrect (the small p-value indicates a discrepancy between the data and the model)